.wrapper {
    max-width: 1200px;
    margin: auto;
}
.calc__wrapper {
    display: flex;
}
.calc__wrapper > div {
    flex-grow: 1;
    padding: 20px;
}
.input_hide {
    position: absolute;
    opacity: 0;
    top: -100%;
}
.input {
    width: 240px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid black;
}
.input:focus {
    box-shadow: 0px 0px 8px 0px rgba(0, 255, 41, 0.55);
    outline:none;
    border: 1px solid black;
}
.d-flex {
    display: flex;
}
.input_text {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    font-size: 18px;

}
label p {
    font-size: 18px;
    margin-top: 0;
}
.sum__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.sum__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sum__val {
    padding: 5px 10px;
}
table {
    width: 100%;
}